.input-component {
    input {
        font-size: 1rem;
        padding: 0.8rem;
        margin-top: 0.2rem;
        background-color: whitesmoke;
        border-width: 0;
        border-radius: 0.5rem;
        width: 100%;
        outline: none;
        border: 0.1rem solid rgb(206, 206, 206);
        min-width: 24rem;

        &::placeholder {
            color: #787878;
            font-size: 1rem;
        }

        &:focus {
            border: 0.1rem solid #740303;
        }
    }
}