.choose-wallet {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #74747454;

    .wallet-dialog {
        width: fit-content;
        height: fit-content;
        position: fixed;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        border-radius: 1.2rem;
        background-color: whitesmoke;
        padding: 2.2rem 4rem 2rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        h2 {
            font-size: 1.6rem;        
            color: #740303;
            font-weight: 500;
        }
    }
}